{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
	<!-- BOOTSTRAP STYLES-->
    {% include 'partails/css.html' %}
</head>
<body>
    <div id="wrapper">
        {% include 'partails/nav.html'%}
        <!-- /. NAV SIDE  -->
       {% block content %}

        {% endblock %}
    </div>

 <!-- JS -->
{% include 'partails/js.html' %}

<!-- Message Modal -->
        {% if messages %}
      {% for message in messages %}
  {% include 'message_modal.html' %}

<script type="application/javascript">
    $('#message').modal({backdrop:false,show:true});
    setTimeout(function(){
    $('#message').modal('hide');
    },2000);
</script>
      {% endfor %}
    {% endif %}

</body>
</html>
