
    <!--Modal: modalDiscount-->
    <div  data-backdrop="false" class="modal fade left" data-animation="slide-out-right" id="message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true" >
      <div class="modal-dialog modal-side modal-bottom-left modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->

             <p class="text-dark display-6">{{message}}</p>



      </div>
    </div>
    <!--Modal: modalDiscount-->